{
  "presets": [
    "env",
    "flow"
  ],
  "retainLines": true,
  "env": {
    "production": {
      "presets": [
        "babili"
      ],
      "plugins": [
        "transform-remove-console",
        "remove-comments"
      ]
    },
    "test": {}
  }
}